<div class="panel-heading">
  <h4><center><strong>Gráficos  </strong></center></h4>
</div>
<!-- /.panel-heading -->
<div class="panel-body">
  <div class="dataTable_wrapper">
    <div class="row">
      <div class="col-sm-12">

      </div>
    </div>
  </div>
  <!-- /.panel-body -->

  <!-- /.panel -->
</div>
